
.jumbotron{
	
	font-family: Brush Script MT;
	color: black;
	height: 200px;
	margin-top: 50px;
	margin-bottom: 100px;
}



footer{
	padding: 10px 10px 0 10px;
	background-color: orange;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-pan{
	flex: 1 300px;
	margin-top: 10px
	font-family: Brush Script MT;
	text-align: center;

}

.btn-pedir{
	width: 100%;
	border-radius: 0px;

}

